@media screen and (max-width: 600px) {
    .navbar {
        width: 300px;
    }

    .header {
        margin-left: 0;
    }

    .btn1 {
        font-size: 12px;
    }

    .progressbar1 {
        align-content: center;
        flex-direction: column;
        margin-left: 30px;
        gap: 20px;
    }

    .test {
        font-size: 20px;
    }

    .card1 {
        width: 600px;
    }

    .card3 {
        display: block;
        flex-direction: column;
        width: 340px;
        margin-left: 0;
    }

    .card3 img {
        width: 100vh;
        padding: 10px;
    }

    .card4 {
        align-items: start;
    }

}